@font-face {
    font-family: 'starwars';
    src: url(../fonts/star_jedi/starjedi/Starjedi.ttf)
}

body {
    overflow-x: hidden;
    background-color: black;
    background-image: url(../images/stars.png);
}

.text {
    font-family: 'starwars', sans-serif;
    font-size: 50px;
    color: #FFE81F;
    text-align: center;
    
}

#header { 
    display: flex; 
    font-family: 'starwars', sans-serif; 
    font-size: 75px; 
    color: #FFE81F; 
    justify-content: center; 
}

a {
    text-decoration: none;
}

#nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

#nav p {
    width: 475px;
    height: auto;
    border: #D1AF40 solid 5px;
    border-radius: 5px;
    transition: 0.2s ease;  
    background-color: #000000;
    
    
}

#nav p:hover {
    transform: scale(1.05);
}


@keyframes move_up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}


.intro {
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: center;
    animation: move_up 6s linear forwards;
}



.divider {
    display: flex;
    background-color: #D1AF40;
    width: 100%;
    border-radius: 10px;
    color: #FFE81F;
    justify-content: center;
}

.img_container {
    display: flex;
    justify-content: center;
}

img {
    width: 475px;
    height: auto;
    border: #D1AF40 solid 5px;
    border-radius: 5px;
    transition: 0.2s ease;
}

.border {
    width: fit-content;
    margin: auto;
    border: #D1AF40 solid 5px;
    border-radius: 5px;
    padding: 25px;
    background-color: #000000;
}

.faded_image {
    width: 100%;
    height: 500px;
    background-image: url(../images/hyber_stars.jpg);
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(to bottom, #000000 50%, #00000000 100%);
    mask-image: linear-gradient(to bottom, #000000 50%, #00000000 100%);
}