p{
    color:forestgreen
}

h1{
    color:burlywood;
    font-size: 100px
}

#main-container{
    background-color: darkslategray;
}

.pclass{
    font-size: 30px;
    background-color: bisque;
    color:black
}